nav.menu {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin-top: 0;
    padding-top: 8.7rem;
}
nav.menu ul{
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    list-style: none;
    line-height: normal;
}
nav.menu ul li{
    margin-top: 0;
    display: inline-block;
}

.menu-left {
    font-size: 3.2rem;
}

.menu-right {
    font-size: 1rem;
    padding-top: 2rem;
    padding-right: 8rem;
}

.menu-right-link {
    padding-right: 0.67rem;
}

.subtitle {
    font-style: italic;
    margin-top: 1.7rem;
    padding-bottom: 2rem;
    font-size: 2.7rem;
    display: block;
    line-height: 1;
    margin-bottom: 6rem;
}

a:link {
    text-transform: None;
    text-decoration: None;
}

a {
    color: black;
}

label.no-underline a:link {
    font-size: 2.2rem;
    text-shadow: none;
    background-repeat: no-repeat;
}
label.no-underline a:link:hover {
    background-color: #e0e0e0;
}

li.no-underline a:link {
    text-shadow: none;
    background-repeat: no-repeat;
}
li.no-underline a:link:hover {
    background-color: #e0e0e0;
}

#
# toggled descriptions HT: https://www.digitalocean.com/community/tutorials/css-collapsible

.wrap-collapsible {
  margin-bottom: 1.8rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  padding: 1.6rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: .75rem solid transparent;
  border-bottom: .75rem solid transparent;
  border-left: .75rem solid currentColor;
  margin-right: .75rem;
  margin-left: -1.5rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: calc(var(--vh) * 100); # HT: https://ilxanlar.medium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487
}

.collapsible-content .content-inner {
  padding: .7rem 1.5rem;
}
